html, body {
    height: 100%;
    margin: 0;
    
}

/*.animation {
    margin: 20px;
    background-color: #ffffff ;
    animation: gradient 5s ease infinite;
}
*/


.container {
    height: 100%;
    background-image: url('Background.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}


.header {
    padding: 50px;
}


.header a {
    float: left;
    font-size: 20px;
}

.header-right {
    display: flex;
    flex-direction: column;
    float: right;
    line-height: 10px;
}

.header-right a {
    float: right;
    text-align: center;
}